@import "../../components/bigCardRoom/bigCardRoom";

.room__container {
    margin-top: 102px;

    .room__list {
        margin: 60px 0;

        .bigCardRoom {
            margin: 10px 0;

            &:nth-child(even) {
                flex-direction: row-reverse;
            }

            &:nth-child(odd) {
                .bigCardRoom__desc {
                    &__flower {
                        width: 50%;
                        height: 50%;
                        position: absolute;
                        left: 65%;
                    }
                }
            }

        }
    }
}