body {
    box-sizing: border-box;
    font-size: 14px;
}

$font-fam: 'Roboto', sans-serif;
$bg-dark: #282828;
$bg-pink: #F0E8DD;
$text-light: #fff;
$text-dark: #333333;
$text-title: #bc822f;
$btn-hover: #704912;

$weight: 500;

li {
    list-style-type: none;
    font-weight: $weight;
}

.btn {
    padding: 12px 25px;
    background-color: $text-title;
    color: $text-light;
    font-weight: $weight;
    transition: all 0.5s linear;
    border: 0;
    font-family: $font-fam;

    &:hover {
        background-color: $btn-hover;
        cursor: pointer;
    }

    &-no-bg {
        font-size: 13px;
        color: $text-light;
        padding: 12px 25px;
        font-weight: 500;
        text-transform: uppercase;
        border: none;
        border-top: 2px solid $text-light;
        border-bottom: 2px solid $text-light;

        background: none;

        &:hover {
            cursor: pointer;
            border-top: 2px solid $text-title;
            border-bottom: 2px solid $text-title;

        }
    }
}