.roomInfo {
    font-family: $font-fam;
    border: 2px solid #BF5B04;

    .room__desc {
        padding: 20px 20px 40px;
        display: flex;
        column-gap: 20px;

        .room__img {
            max-width: 240px;
            max-height: 180px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }

        .room__detail {
            .room__name {
                font-size: 17px;
                font-weight: 500;
                margin-bottom: 15px;
            }

            p {
                font-size: 13px;
                line-height: 20px;
            }

            .room__furniture {
                margin: 10px 0;
                padding: 0;


                li {
                    font-size: 13px;
                    font-weight: 400;
                    padding: 0 5px;
                    display: inline-block;

                    i {
                        font-size: 5px;
                        color: #BF5B04;
                        margin-right: 3px;
                    }
                }
            }

            .room__bed {

                span {
                    font-weight: 500;
                    display: inline-block;

                    &:nth-child(2) {
                        margin-left: 10px;
                    }

                }
            }
        }
    }

    .room_combo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border-top: 2px solid #BF5B04;

        .room__include {
            font-size: 13px;

            h3 {
                font-size: 14px;
                padding-bottom: 5px;
            }

            p {
                padding: 5px 5px 5px 0;

                &:nth-child(2) {
                    color: #ff0000;
                }
            }
        }

        .room__people {
            text-align: center;

            .icon {
                i {
                    color: gray;
                    font-size: 18px;
                }
            }

            p {
                font-size: 13px;

                &:nth-child(2) {
                    margin: 3px 0 5px;
                }
            }
        }

        .room__price {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .price {
                font-size: 13px;
                text-align: center;

                &_a_room {
                    display: block;
                    font-size: 20px;
                    margin: 3px 0;
                }

                .acount_available {
                    margin-bottom: 3px;
                    color: #ff0000;
                    font-size: 12px;
                }
            }

            .date {
                margin-left: 50px;

                #date-book {
                    width: 130px;
                    height: 30px;
                    outline: 0;
                    font-size: 12px;
                    padding: 5px 0;
                }

                &__list {
                    margin-top: 5px;
                    text-align: center;

                    span {
                        font-size: 12px;
                    }

                    i {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}