.vouch__container {
    margin-top: 110px;

    .voucher__list {
        margin: 0 auto;
        width: 80%;
        padding: 60px 0;
        display: flex;
        justify-content: space-between;
    }
}